body {
	margin: 0;
	background: #FAEBD7;
}

header  {
	background: #ffdab9;
	color: black;
	padding: 15px 15px 0 15px;
	font-family: "Comic Sans MS";
}

header h1 {
	margin: 0;
	display: inline;
	font: "Palatino Linotype";
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
	text-align: center;
}

nav ul li {
	background: #FAEBD7;
	color: black;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;

}

nav ul li a {
	color: black;
}